<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.$USER.cagent.usagemail</string>
  <key>ProgramArguments</key>
  <array>
    <string>$REPO/bin/usage-digest.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>5</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>WorkingDirectory</key>
  <string>$REPO</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>AGENT_MODE</key>
    <string>SUPERVISED</string>
  </dict>
  <key>StandardOutPath</key>
  <string>$REPO/logs/usagemail.out.log</string>
  <key>StandardErrorPath</key>
  <string>$REPO/logs/usagemail.err.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
