<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.$USER.cagent.dispatcher</string>
  <key>ProgramArguments</key>
  <array>
    <string>$REPO/bin/dispatcher.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Minute</key>
      <integer>7</integer>
    </dict>
    <dict>
      <key>Minute</key>
      <integer>37</integer>
    </dict>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>WorkingDirectory</key>
  <string>$REPO</string>
  <key>StandardOutPath</key>
  <string>$REPO/logs/dispatcher.out.log</string>
  <key>StandardErrorPath</key>
  <string>$REPO/logs/dispatcher.err.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
